<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Electric bicycle website </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/remaining.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>

            <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>

            <div class="panel-heading navig-but"> Piedāvātās iespējas</div>
            <div class="location">

                <p> Pogas krāsa norāda nepieciešamās tiesības: <br>
                    <button class="registerbtn btn btn-md btn-info">ikviens / lietotājs / Admins</button>
                    <button class="registerbtn btn btn-md btn-success"> lietotājs / Admins</button>
                    <button class="registerbtn btn btn-md btn-warning"> Admins</button>
                    <button class="registerbtn btn btn-md btn-danger"> Admins</button>
                </p>
                <hr>
                <p>
                    <button class="registerbtn btn btn-md btn-info">informatīva poga</button>
                    ļauj tikai apskatīt informāciju statiskajās mājaslapās.
                </p>

                <p>
                    <button class="registerbtn btn btn-md btn-success"> lietotāja poga</button>
                    ļauj apskatīt visus izveidotos sarakstus un veikt velosipēda rezervāciju.
                </p>
                <button class="registerbtn btn btn-md btn-warning"> admina poga</button>
                ļauj pievienot, dzēst, labot izveidotos ierakstus.

                <p>

                </p>
                <p> Katras dienas rītā Adminam ir pienākums:
                    <br> izdzēst rezervācijas, kas vecākas par šodienu;
                    <br> izdzēst datumu, kas vecāks par šodienu;
                </p>


            </div>
            <footer th:replace="fragments/footer :: foot"></footer>
        </div>
    </div>
</div>

</div>
</body>
</html>