body {
    border: 2px solid black;
    padding: 5px 10px 0 10px;
    outline-style: solid;
    outline-color: #FF7F26;
    /*text-align: center;*/
    font-weight: 400;

}

.header {
    padding: 1px 3px 5px 3px;
    border: 3px Solid #FF7F26;
    border-radius: 10px;
}

.imageLogin {
    width: 30%;
}

.imageHeader {
    width: 40%;
}


form {
    padding: 0.5em 10%;
}

.form-group {
    margin-bottom: 20px;
}

.btn-right {
    float: right;
    margin-right: 15px;
}

.navig-but {
    text-align: center;
}

.location {
    margin-top: 40px;
    margin-left: 220px;
}