<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head th:replace="fragments/headers :: head"></head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="w3-main" style="margin-left:220px">

    <form action="accessories" method="post">
        <h2 class="heading"> Velosipēda papildaprīkojuma reģistrācija </h2>
        <hr>

        <tr>
            <td> papildaprīkojums</td>
            <td><input type="text" , name="accessoryName" placeholder="papildaprīkojums"></td>
        </tr>
        <hr>

        <button type="submit" class="registerbtn col-1-2">Reģistrēt jaunu aprīkojumu</button>
        <br>
        <hr>
    </form>

    <h3>Papildaprīkojuma saraksts:</h3>   <br>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                <a th:href="@{/accessories_asc}">  &#x2193; </a>
                papildaprīkojums
                <a th:href="@{/accessories_desc}"> &#x2191; </a>
            </th>
            <th scope="col">ACTION</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="accessory : ${accessories}" class="table">
            <th th:text="${accessory.id}" scope="col"></th>
            <th th:text="${accessory.accessoryName}" scope="col"></th>

            <td>
                <form th:action="@{'/deleteRecord/'+ ${accessory.id}}" method="GET">
                    <input type="hidden" name="id" th:value="${accessory.id}">
                    <button type="submit" class="col-1-2"> delete</button>
                </form>
            </td>
        </tr>

        </tbody>
    </table>
    <hr>

</div>
</body>
</html>