<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Electric bicycle website </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/remaining.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="container" style="margin-left:220px">

    <form action="accessories" method="post">
        <h2 class="heading"> Velosipēda papildaprīkojuma reģistrācija </h2>
        <input type="text" name="accessoryName" placeholder="nosaukums">
        <button type="submit" class="registerbtn btn btn-md btn-primary">Reģistrēt jaunu aprīkojumu</button>
        <br>
        <hr>

    </form>

    <h3>Papildaprīkojuma saraksts:</h3>   <br>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                <a th:href="@{/accessories_asc}"> &#x2193; </a> papildaprīkojums
                <a th:href="@{/accessories_desc}"> &#x2191; </a>
            </th>
            <th scope="col">ACTION</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="accessory : ${accessories}" class="table">
            <th th:text="${accessory.id}" scope="col"></th>
            <th th:text="${accessory.accessoryName}" scope="col"></th>

            <td>
                <form th:action="@{'/deleteRecord/'+ ${accessory.id}}" method="GET">
                    <input type="hidden" name="id" th:value="${accessory.id}">
                    <button type="submit" class="registerbtn btn btn-md btn-default"> delete</button>
                </form>
            </td>
        </tr>

        </tbody>
    </table>
    <hr>
    <footer th:replace="fragments/footer :: foot"></footer>
</div>
</body>
</html>