<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Electric bicycle website </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/remaining.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div style="margin-left:220px">

    <form action="bicycles" method="post">
        <h2 class="heading">Velosipēda reģistrācija </h2>
        id <input type="text" name="id" placeholder="Factory number (or id)">

        nosaukums <input type="text" name="name" placeholder="Bicycle name">

        svars <input type="text" name="weight" placeholder="Weight">

        attālums <input type="text" name="distance" placeholder="Maximum distance">

        <button type="submit" class="registerbtn btn btn-md btn-primary">Reģistrēt jaunu velosipēdu</button>
        <br>
        <hr>
    </form>

    <h3>List of all bicycles:</h3>   <br>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">weight</th>
            <th scope="col">distance</th>
            <th scope="col">ACTION</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="bicycle : ${bicycles}" class="table">
            <th th:text="${bicycle.id}" scope="col"></th>
            <th th:text="${bicycle.name}" scope="col"></th>
            <th th:text="${bicycle.weight}" scope="col"></th>
            <th th:text="${bicycle.distance}" scope="col"></th>

            <td>
                <form action="deleteBicycleRecord" method="GET">
                    <input type="hidden" name="id" th:value="${bicycle.id}">
                    <button type="submit" class="registerbtn btn btn-md btn-default"> delete</button>
                </form>
            </td>
        </tr>

        </tbody>
    </table>
    <hr>
    <footer th:replace="fragments/footer :: foot"></footer>
</div>
</body>
</html>