<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head th:replace="fragments/headers :: head"></head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="w3-main" style="margin-left:220px">

    <form action="bicycles" method="post">
        <h2 class="heading">Velosipēda reģistrācija </h2>
        <p></P>

        <hr>

        <tr>
            <td> id</td>
            <td><input type="text" name="id" placeholder="Factory number (or id)"></td>
        </tr>

        <tr>
            <td> bicycleName</td>
            <td><input type="text" , name="name" placeholder="Bicycle name"></td>
        </tr>

        <tr>
            <td> weight</td>
            <td><input type="text" name="weight" placeholder="Weight"></td>
        </tr>

        <tr>
            <td> distance</td>
            <td><input type="text" name="distance" placeholder="Maximum distance"></td>
        </tr>
        <hr>

        <button type="submit" class="registerbtn col-1-2">Reģistrēt jaunu velosipēdu</button>
        <br>
        <hr>
    </form>

    <h3>List of all bicycles:</h3>   <br>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">weight</th>
            <th scope="col">distance</th>
            <th scope="col">ACTION</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="bicycle : ${bicycles}" class="table">
            <th th:text="${bicycle.id}" scope="col"></th>
            <th th:text="${bicycle.name}" scope="col"></th>
            <th th:text="${bicycle.weight}" scope="col"></th>
            <th th:text="${bicycle.distance}" scope="col"></th>

            <td>
                <form action="deleteBicycleRecord" method="deleteBicycle">
                    <input type="hidden" name="id" th:value="${bicycle.id}">
                    <button type="submit" class="col-1-2"> delete</button>
                </form>
            </td>
        </tr>

        </tbody>
    </table>
    <hr>
    <footer th:replace="fragments/footer :: foot"></footer>
</div>
</body>
</html>