<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments/headers :: head"></head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="panel panel-group panel-primary" style="margin-top:40px">
    <div sec:authorize="hasAuthority('ADMIN')" class="panel-heading"> Velosipēda reģistrācija</div>
    <form sec:authorize="hasAuthority('ADMIN')" action="bicycles" method="post">
        id <input type="text" name="id" placeholder="fabrikas Nr">
        nosaukums <input id="name" type="text" name="name" placeholder="nosaukums">
        svars <input type="text" name="weight" placeholder="svars">
        attālums <input type="text" name="distance" placeholder="attālums">

        <button type="submit" class="registerbtn btn btn-md btn-warning">Reģistrēt jaunu velosipēdu</button>
        <br><br>
        <!--            <span th:if="${errorAddBicycle}" th:text="${errorAddBicycle}" class="alert alert-danger"></span>-->
        <span th:if="${errorDeleteBicycle}" th:text="${errorDeleteBicycle}" class="alert alert-danger"></span>
    </form>
    <div class="panel-heading"> Velosipēdu saraksts:</div>


    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                <a th:href="@{/bicyclesName_asc}"> &#x2193; </a> name
            </th>
            <th scope="col">
                <a th:href="@{/bicyclesWeigh_asc}"> &#x2193; </a> svars
            </th>
            <th scope="col">
                <a th:href="@{/bicyclesDistance_asc}"> &#x2193; </a> attālums
            </th>

            <th sec:authorize="hasAuthority('ADMIN')" scope="col">ACTION</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="bicycle : ${bicycles}" class="table">
            <th th:text="${bicycle.id}" scope="col"></th>
            <th th:text="${bicycle.name}" scope="col"></th>
            <th th:text="${bicycle.weight}" scope="col"></th>
            <th th:text="${bicycle.distance}" scope="col"></th>

            <td>
                <form sec:authorize="hasAuthority('ADMIN')" action="deleteBicycleRecord" method="GET">
                    <input id="id" type="hidden" name="id" th:value="${bicycle.id}">
                    <button type="submit" class="registerbtn btn btn-md btn-warning"> delete</button>
                </form>
            </td>
        </tr>

        </tbody>
    </table>
    <footer th:replace="fragments/footer :: foot"></footer>
</div>
</body>
</html>