<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head th:replace="fragments/headers :: head"></head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="w3-main" style="margin-left:220px">

    <form action="days" method="post">
        <h2 class="heading"> D I E N A S reģistrācija </h2>        <hr>

        <tr>
            <td> id</td>
            <td><input type="text" name="id" placeholder="id numurs"></td>
        </tr>

        <tr>
            <td> dayName</td>
            <td><input type="date" , name="dayName" min="2019-07-14" max="2019-08-20" placeholder="dayName"></td>
        </tr>
        <hr>




        <button type="submit" class="registerbtn col-1-2">Register</button>
        <br>
        <hr>
    </form>

    <h3>Papildaprīkojuma saraksts:</h3>   <br>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Diena</th>
            <th scope="col">ACTION</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="day : ${days}" class="table">
            <th th:text="${day.id}" scope="col"></th>
            <th th:text="${day.dayName}" scope="col"></th>

            <td>
                <form action="deleteDayRecord" method="deleteDay">
                    <input type="hidden" name="id" th:value="${day.id}">
                    <button type="submit" class="col-1-2"> delete</button>
                </form>
            </td>
        </tr>


        </tbody>
    </table>
    <hr>

</div>
</body>
</html>