<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head th:replace="fragments/headers :: head"></head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="w3-main" style="margin-left:220px">

    <form action="days" method="post">
        <h2 class="heading"> D I E N A S reģistrācija </h2>
        <hr>

        <tr>
            <td> dayName</td>
            <td><input type="date" name="dayName" min="2019-07-14" max="2019-08-20" placeholder="dayName"></td>
        </tr>
        <br>

        <button type="submit" class="registerbtn col-1-2">Datuma reģistrācija (bez chekbox)</button>
        <br>
        <hr>
    </form>

    <!--    S T R A A A D A A A-->
    <form>
        <h3>Checkboxes ${days}:</h3>
        <tr>
            <td>
                <th:block th:each="day : ${days}">
                    <input type="checkbox" name="dontknow" th:value="${day.dayName}"/>
                    <label th:text="${day.dayName}"></label>
                    <br>
                </th:block>
            </td>
        </tr>
    </form>
    <hr>

    <!--  strādā, bet tikai iekš http://localhost:8080/accessories -->
    <!--    <form>-->
    <!--        <h3>Checkboxes ${accessory.accessoryName}:</h3>-->
    <!--        <tr>-->
    <!--            <td>-->
    <!--                <th:block th:each="accessory : ${accessories}">-->
    <!--                    <input type="checkbox" name="dontknow" th:value="${accessory.accessoryName}"/>-->
    <!--                    <label th:text="${accessory.accessoryName}"></label>-->
    <!--                    <br>-->
    <!--                </th:block>-->
    <!--            </td>-->
    <!--        </tr>-->
    <!--    </form>-->

    <!--    S T R A A A D A A A-->
    <select th:field="*{days}">
        <option th:each="day : ${days}"  th:value="${day.dayName}" th:text="${day.dayName}">
        </option>
    </select>

    <!--  strādā, bet tikai iekš http://localhost:8080/accessories -->
<!--    <select th:field="*{accessories}">-->
<!--        <option th:each="accessory : ${accessories}"  th:value="${accessory.accessoryName}" th:text="${accessory.accessoryName}">-->
<!--        </option>-->
<!--    </select>-->

    <h3>Datuma saraksts:</h3>   <br>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Diena</th>
            <th scope="col">ACTION</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="day : ${days}" class="table">
            <th th:text="${day.id}" scope="col"></th>
            <th th:text="${#dates.format(day.dayName, 'dd-MM-yyy')}" scope="col"></th>

            <td>
                <form th:action="@{'/deleteDayRecord/' + ${day.id}}" method="GET">
                    <input type="hidden" name="id" th:value="${day.id}">
                    <button type="submit" class="col-1-2"> delete</button>
                </form>
            </td>
        </tr>


        </tbody>
    </table>
    <hr>

</div>
</body>
</html>