<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title> Electric bicycle website </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/remaining.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div style="margin-left:220px">

    <form action="days" method="post">
        <h2 class="heading"> Dienas reģistrācija </h2>
        Atvērt jaunu datumu <input type="date" name="dayName"
                                   th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                                   max="2019-08-20" placeholder="dayName">
        <span th:if="${error}" th:text="${error}" class="alert alert-danger"></span> <br><br>
        <button type="submit" class="registerbtn btn btn-md btn-primary">Datuma reģistrācija</button>
        <br>
        <hr>
    </form>

    <h3>Datuma saraksts:</h3> <br>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Diena</th>
            <th scope="col">ACTION</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="day : ${days}" class="table">
            <th th:text="${day.id}" scope="col"></th>
            <th th:text="${#dates.format(day.dayName, 'dd-MM-yyy')}" scope="col"></th>

            <td>
                <form th:action="@{'/deleteDayRecord/' + ${day.id}}" method="GET">
                    <input type="hidden" name="id" th:value="${day.id}">
                    <button type="submit" class="registerbtn btn btn-md btn-default"> delete</button>
                </form>
            </td>
        </tr>


        </tbody>
    </table>
    <hr>
    <footer th:replace="fragments/footer :: foot"></footer>
</div>
</body>
</html>