<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head th:replace="fragments/headers :: head"></head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="w3-main" style="margin-left:220px">
    <br>
    <h2 class="heading"> Ieraksts ir veiksmīgi izdzēsts  </h2>
    <br>

    <a href="http://localhost:8080/accessories"> velosipēda piederumu reģistrācija </a> <br>
    <a href="http://localhost:8080/bicycles"> velosipēda reģistrācija </a> <br>
    <a href="http://localhost:8080/employees"> darbinieka reģistrācija </a> <br>




    <br>

    <!--<a href="http://localhost:8080/students">Back to Students</a>-->

</div>
</body>
</html>