<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head th:replace="fragments/headers :: head"></head>

<body>
<div th:replace="fragments/navigation :: navigation"></div>

<div class="w3-main" style="margin-left:220px">

    <form action="employees" method="post">
        <h2 class="heading"> Darbinieku reģistrācija </h2>
        <p></P>

        <hr>

        <tr>
            <td> id</td>
            <td><input type="text" name="id" placeholder="id numurs"></td>
        </tr>

        <tr>
            <td> Darbinieka vārds</td>
            <td><input type="text" , name="name" placeholder="name"></td>
        </tr>

        <tr>
            <td> Darbinieka uzvārds</td>
            <td><input type="text" , name="surname" placeholder="surname"></td>
        </tr>
        <hr>

        <button type="submit" class="registerbtn col-1-2">Register</button>
        <br>
        <hr>
    </form>

    <h3>List of all accessories:</h3>   <br>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">surname</th>
            <th scope="col">ACTION</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="employee : ${employees}" class="table">
            <th th:text="${employee.id}" scope="col"></th>
            <th th:text="${employee.name}" scope="col"></th>
            <th th:text="${employee.surname}" scope="col"></th>

            <td>
                <form action="deleteEmployeeRecord" method="deleteEmployee">
                    <input type="hidden" name="id" th:value="${employee.id}">
                    <button type="submit" class="col-1-2"> delete</button>
                </form>
            </td>
        </tr>

        </tbody>

        </tbody>
    </table>

    <hr>
    <footer th:replace="fragments/footer :: foot"></footer>
</div>
</body>
</html>